@model List<NewsPhoto>

@foreach (var newsImage in Model)
{
    <div class="image-wrapper" style="display:flex; flex-direction:column; justify-content:center; align-items:center; padding:20px">
        <div>
            <img src="~/@newsImage.ImagePath" width="200px" height="200px" />
        </div>
        @if (Model.Count > 1)
        {
            <div style="margin-top:10px;">
                <button class="btn btn-danger deleteImage deleteIndex" data-newsid="@newsImage.NewsId" data-imagepath="@newsImage.ImagePath">@language.Getkey("Delete")</button>
            </div>
        }
    </div>
}